<div class="parentDiv">
  <div class="">Summary</div>
  <div class="d-flex align-items-center RowgroupDiv me-5">
    <div class="BorderBox p-1">
      <div class="mt-1">
        <div class="label-container">
          <label class="custom-label">Facility ID</label>
          <dx-text-box
            labelMode="static"
            [width]="'60%'"
            hint="The user account must be locked out after consecutive N invalid logins attempts."
          >
          </dx-text-box>
        </div>
      </div>

      <div class="mt-1">
        <div class="label-container">
          <label class="custom-label">Member ID</label>
          <dx-text-box
            labelMode="static"
            [width]="'60%'"
            hint="The user account must be locked out after consecutive N invalid logins attempts."
          >
          </dx-text-box>
        </div>
      </div>

      <div class="mt-1">
        <div class="label-container">
          <label class="custom-label">Receiver</label>
          <dx-text-box
            labelMode="static"
            [width]="'60%'"
            hint="The user account must be locked out after consecutive N invalid logins attempts."
          >
          </dx-text-box>
        </div>
      </div>

      <div class="mt-1">
        <div class="label-container">
          <label class="custom-label">Payer</label>
          <dx-text-box
            labelMode="static"
            [width]="'60%'"
            hint="The user account must be locked out after consecutive N invalid logins attempts."
          >
          </dx-text-box>
        </div>
      </div>
    </div>

    <div class="BorderBox">
      <div class="mt-1">
        <div class="label-container">
          <label class="custom-label">Facility ID</label>
          <dx-text-box
            labelMode="static"
            [width]="'60%'"
            hint="The user account must be locked out after consecutive N invalid logins attempts."
          >
          </dx-text-box>
        </div>
      </div>

      <div class="mt-1">
        <div class="label-container">
          <label class="custom-label">Member ID</label>
          <dx-text-box
            labelMode="static"
            [width]="'60%'"
            hint="The user account must be locked out after consecutive N invalid logins attempts."
          >
          </dx-text-box>
        </div>
      </div>

      <div class="mt-1">
        <div class="label-container">
          <label class="custom-label">Receiver</label>
          <dx-text-box
            labelMode="static"
            [width]="'60%'"
            hint="The user account must be locked out after consecutive N invalid logins attempts."
          >
          </dx-text-box>
        </div>
      </div>

      <div class="mt-1">
        <div class="label-container">
          <label class="custom-label">Payer</label>
          <dx-text-box
            labelMode="static"
            [width]="'60%'"
            hint="The user account must be locked out after consecutive N invalid logins attempts."
          >
          </dx-text-box>
        </div>
      </div>
    </div>
  </div>
</div>
