@use "../../../../variables.scss" as *;
@use "sass:math";

:host {
  --side-panel-toolbar-height: 72px;

  width: 100%;
  display: contents;
}
.view-wrapper {
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  flex-direction: column;
  padding: 0 10px;

  .grid {
    .name-template {
      .position {
        font-size: 10px;
        color: var(--texteditor-label-color);
      }
    }

    ::ng-deep & {
      .dx-datagrid-header-panel {
        padding: 0 var(--content-padding);
      }

      .dx-toolbar {
        margin-bottom: 0;
        padding: var(--toolbar-margin-bottom) 0;
      }

      .dx-datagrid-content .dx-row {
        cursor: pointer;
        // height: 3rem;
        // padding: 0px
      }
    }

    .grid-header {
      @include header();
    }
    .dxo-filter-row {
      height: 4px;
      padding: 0;
      margin: 0;
    }
  }

  user-panel {
    display: inherit;
  }
}

.save-button {
  position: absolute;
  bottom: 35px;
  right: 25px;
}
.importItem {
  width: 600px;
}
.center-Button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.btnDemo {
  padding: 0px;
  margin: 0px;
  background-color: #1b1e20;
  color: white;
  border: none;
  width: 150px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btnDemo i {
  font-size: 24px;
}

.button-container {
  margin: 0px;
  padding: 0px;
  height: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggleButton {
  border-radius: 7px;
}

.SearchParams-container {
  transition: transform 0.5s ease, opacity 0.5s ease, max-height 0.5s ease;
  transform: translateY(0);
  opacity: 1;
  max-height: 500px; /* Set this to the maximum height of your content */
}

.hide-content {
  transform: translateY(-20px);
  opacity: 0;
  max-height: 0; /* Transition from max-height to 0 */
  padding: 0;
  margin: 0;
  overflow: hidden; /* Prevents content overflow */
}
