<div id="parent" class="parentDiv innerDrillDownreport">
  <div class="data-container">
    <div class="headingText">Remittance Details</div>
    <div class="d-flex align-items-center RowgroupDiv">
      <div class="remittanceDetails">
        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Sender ID</label>
            <dx-text-box
              labelMode="static"
              [width]="'75%'"
              [value]="datasource?.SenderID"
              [readOnly]="true"
            >
            </dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Sender</label>
            <dx-text-box
              labelMode="static"
              [width]="'75%'"
              [value]="datasource?.Sender"
              [readOnly]="true"
            >
            </dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">ID Payer</label>
            <dx-text-box
              labelMode="static"
              [width]="'75%'"
              [value]="datasource?.IDPayer"
              [readOnly]="true"
            >
            </dx-text-box>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="DetailsDrillDown RowgroupDiv2 mt-3">
    <div class="tabs-demo view-wrapper">
      <dx-tabs
        #withText
        [width]="'full'"
        [selectedIndex]="0"
        [rtlEnabled]="false"
        [scrollByContent]="scrollByContent"
        [showNavButtons]="showNavButtons"
        [dataSource]="tabsWithText"
        [orientation]="orientation"
        [stylingMode]="stylingMode"
        (onSelectionChanged)="
          selectedTabIndex = $event.component.option('selectedIndex')
        "
      ></dx-tabs>
    </div>

    <div *ngIf="selectedTabIndex === 0" class="d-flex align-items-center">
      <div class="BorderBox">
        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">XML File Name</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="datasource?.XMLFileName"
              [readOnly]="true"
            >
            </dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">File ID</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="datasource?.FileID"
              [readOnly]="true"
            >
            </dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Cancelled</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="datasource?.IsCancelled"
              [readOnly]="true"
            >
            </dx-text-box>
          </div>
        </div>
        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Remarks</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="datasource?.Remarks"
              [readOnly]="true"
            >
            </dx-text-box>
          </div>
        </div>
      </div>

      <div class="BorderBox">
        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">File Synchronized Date</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="datasource?.FileSyncDate"
              [readOnly]="true"
            >
            </dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Date Synchronized date</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="datasource?.DataSyncDate"
              [readOnly]="true"
            >
            </dx-text-box>
          </div>
        </div>
        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Processed Date</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="datasource?.ProcessedDate"
              [readOnly]="true"
            >
            </dx-text-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.0)"
  [position]="{ of: '#parent' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [hideOnOutsideClick]="false"
  [message]="'Loading...'"
>
</dx-load-panel>
