<div id="parent" class="parentDiv innerDrillDownreport">
  <div>
    <div class="data-container">
      <div class="headingText">Claim Details</div>
      <div class="d-flex align-items-center RowgroupDiv">
        <div class="BorderBox">
          <div class="mt-1">
            <div class="label-container">
              <label class="custom-label">Member ID</label>
              <dx-text-box
                labelMode="static"
                [width]="'60%'"
                [value]="submissionDetails?.MemberID"
                [readOnly]="true"
              >
              </dx-text-box>
            </div>
          </div>

          <div class="mt-1">
            <div class="label-container">
              <label class="custom-label">ID Payer</label>
              <dx-text-box
                labelMode="static"
                [width]="'60%'"
                [value]="submissionDetails?.IDPayer"
                [readOnly]="true"
              >
              </dx-text-box>
            </div>
          </div>

          <div class="mt-1">
            <div class="label-container">
              <label class="custom-label">Reciever ID</label>
              <dx-text-box
                labelMode="static"
                [width]="'60%'"
                [value]="submissionDetails?.ReceiverID"
                [readOnly]="true"
              >
              </dx-text-box>
            </div>
          </div>
          <div class="mt-1">
            <div class="label-container">
              <label class="custom-label">Reciever Name</label>
              <dx-text-box
                labelMode="static"
                [width]="'60%'"
                [value]="submissionDetails?.Receiver"
                [readOnly]="true"
              >
              </dx-text-box>
            </div>
          </div>

          <div class="mt-1">
            <div class="label-container">
              <label class="custom-label">Payer ID</label>
              <dx-text-box
                labelMode="static"
                [width]="'60%'"
                [value]="submissionDetails?.PayerID"
                [readOnly]="true"
              >
              </dx-text-box>
            </div>
          </div>
        </div>

        <div class="BorderBox">
          <div class="mt-1">
            <div class="label-container">
              <label class="custom-label">Payer Name</label>
              <dx-text-box
                labelMode="static"
                [width]="'60%'"
                [value]="submissionDetails?.Payer"
                [readOnly]="true"
              >
              </dx-text-box>
            </div>
          </div>

          <div class="mt-1">
            <div class="label-container">
              <label class="custom-label">Emirates ID</label>
              <dx-text-box
                labelMode="static"
                [width]="'60%'"
                [value]="submissionDetails?.EmiratesID"
                [readOnly]="true"
              >
              </dx-text-box>
            </div>
          </div>
          <div class="mt-1">
            <div class="label-container">
              <label class="custom-label">Clinician</label>
              <dx-text-box
                labelMode="static"
                [width]="'60%'"
                [value]="submissionDetails?.Clinician"
                [readOnly]="true"
              >
              </dx-text-box>
            </div>
          </div>

          <div class="mt-1">
            <div class="label-container">
              <label class="custom-label">Ordering Clinician</label>
              <dx-text-box
                labelMode="static"
                [width]="'60%'"
                [value]="submissionDetails?.OrderingClinician"
                [readOnly]="true"
              >
              </dx-text-box>
            </div>
          </div>

          <div class="mt-1">
            <div class="label-container">
              <label class="custom-label">Diagnosis</label>
              <dx-text-box
                labelMode="static"
                [width]="'60%'"
                [value]="submissionDetails?.Diagnosis"
                [readOnly]="true"
              >
              </dx-text-box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="DetailsDrillDown RowgroupDiv2 mt-3">
    <div class="tabs-demo view-wrapper">
      <dx-tabs
        #withText
        [width]="'full'"
        [selectedIndex]="0"
        [rtlEnabled]="false"
        [scrollByContent]="scrollByContent"
        [showNavButtons]="showNavButtons"
        [dataSource]="tabsWithText"
        [orientation]="orientation"
        [stylingMode]="stylingMode"
        (onSelectionChanged)="
          selectedTabIndex = $event.component.option('selectedIndex')
        "
      ></dx-tabs>
    </div>

    <div *ngIf="selectedTabIndex === 0" class="d-flex align-items-center">
      <div class="remittanceDetails">
        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Resubmission Type</label>
            <dx-text-box
              labelMode="static"
              [width]="'80%'"
              [value]="resubmissionType"
              [readOnly]="true"
            >
            </dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Comment</label>
            <dx-text-box
              labelMode="static"
              [width]="'80%'"
              [value]="ResubmissionComment"
              [readOnly]="true"
            >
            </dx-text-box>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedTabIndex === 1" class="d-flex align-items-center">
      <div class="BorderBox">
        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Encounter Type</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.EncouneterType"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Patient ID</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.PatientID"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Eligibility ID Payer</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.EligibilityIDPayer"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>
        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Start Date</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.StartDate"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Start Type</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.StartType"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>
      </div>

      <div class="BorderBox">
        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">End Date</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.EndDate"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">End Type</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.EndType"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>
        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Transfer Source</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.TransferSource"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Transfer Description</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.TransferDescription"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">End Date Actual</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.EndDateActual"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedTabIndex === 2" class="d-flex align-items-center">
      <div class="BorderBox">
        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Package Name</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.PackageName"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">XML File Name</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.XMLFileName"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">File ID</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.FileID"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>
        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Cancelled</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.IsCancelled"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Remarks</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.Remarks"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>
      </div>

      <div class="BorderBox">
        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">File Synchronized Date</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.FileSyncDate"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>

        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Data Synchronized Date</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.DataSyncDate"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>
        <div class="mt-1">
          <div class="label-container">
            <label class="custom-label">Processed Date</label>
            <dx-text-box
              labelMode="static"
              [width]="'60%'"
              [value]="submissionDetails?.ProcessedDate"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.0)"
  [position]="{ of: '#parent' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [hideOnOutsideClick]="false"
  [message]="'Loading...'"
>
</dx-load-panel>
