<div class="view-wrapper list-page">
  <!-- =================================ToolBar============================ -->
  <div class="toolbarDiv mb-2">
    <dx-toolbar>
      <dxi-item location="before" text="Download Settings"></dxi-item>
    </dx-toolbar>
  </div>
  <!-- =================================Content============================ -->
  <div class="contentBody">
    <div class="mainContent mb-1">
      <!-- ============================Form Data========================== -->
      <div id="form-container" class="ms-2 me-2">
        <div class="row">
          <!-- Database Name Field with Checkbox -->
          <div class="col-md-4">
            <dx-check-box
              class="mb-0"
              [(value)]="isDatabaseNameEditable"
              text="Enable External Database"
            ></dx-check-box>
            <dx-text-box
              class="mt-0"
              [(value)]="DatabaseName"
              [disabled]="!isDatabaseNameEditable"
              label="Database Name"
              labelMode="floating"
            ></dx-text-box>
          </div>

          <!-- XML Directory Field with Checkbox -->
          <div class="col-md-4">
            <dx-check-box
              class="mb-0"
              [(value)]="isXMLDirectoryEditable"
              text="Enable external XML Directory"
            ></dx-check-box>
            <dx-text-box
              class="mt-0"
              [(value)]="XMLDirectory"
              [disabled]="!isXMLDirectoryEditable"
              label="XML Directory"
              labelMode="floating"
            ></dx-text-box>
          </div>

          <div class="col-md-4 mt-3 pb-3">
            <dx-text-box
              class="ms-0"
              [(value)]="ServiceInterval"
              label="Service Interval"
              labelMode="floating"
            ></dx-text-box>
          </div>
        </div>
      </div>
      <!-- =======================Instance Creation======================= -->
      <div class="facilityContainer m-1 p-0">
        <!-- Toolbar with Add Instance Button -->
        <!-- <dx-toolbar class="mb-1 pe-4">
          <dxi-item location="before">
            <div class="grid-header p-2">
              <h6 class="ms-2">Instance List</h6>
            </div>
          </dxi-item>
          <dxi-item
            widget="dxButton"
            location="after"
            [options]="{
              text: 'Add Instance',
              stylingMode: 'contained',
              type: 'default',
              onClick: addInstance
            }"
          ></dxi-item>
        </dx-toolbar> -->

        <!-- DataGrid -->
        <dx-tree-list
          class="instanceTreeList"
          [keyExpr]="'id'"
          
          [dataSource]="dataSource"
          [allowColumnReordering]="true"
          [rowAlternationEnabled]="true"
          [showBorders]="true"
          [autoExpandAll]="false"
          [width]="'100%'"
          [height]="'100%'"
          (onRowInserting)="validateRowInserting($event)"
          (onRowUpdated)="updateRow($event)"
          (onRowRemoving)="deleteRow($event)"
        >
          <dxo-selection mode="multiple" [recursive]="true"></dxo-selection>
          <dxo-editing
            mode="row"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="true"
          >
            <dxo-popup
              title="Instance Managing"
              [showTitle]="true"
              [width]="'60%'"
              [height]="'60vh'"
            >
            </dxo-popup>
          </dxo-editing>

          <!-- Instance Column -->
          <dxi-column
            dataField="Instance"
            caption="Instance"
            [allowSorting]="true"
            [allowEditing]="true"
          ></dxi-column>

          <!-- Facility Column with dxTagBox as editor -->
          <dxi-column
            dataField="Facility"
            caption="Facility"
            [allowSorting]="false"
            [lookup]="{
              dataSource: FacilityDataSource,
              valueExpr: 'FacilityID',
              displayExpr: 'FacilityName'
            }"
          ></dxi-column>

          <dxi-column
            dataField="ClaimTransactionDate"
            caption="Claim Transaction Date"
            dataType="date"
            [allowSorting]="false"
          ></dxi-column>

          <!-- Remittance Transaction Date Column -->
          <dxi-column
            dataField="RemittanceTransactionDate"
            caption="Remittance Transaction Date"
            dataType="date"
            [allowSorting]="false"
          ></dxi-column>
        </dx-tree-list>
      </div>

      <!-- =============================Footer Buttons=================== -->
      <dx-toolbar class="pe-4">
        <dxi-item
          location="after"
          widget="dxButton"
          [options]="{
            text: 'Clear',
            stylingMode: 'contained',
            type: 'normal',
            onClick: onClearClick
          }"
        ></dxi-item>
        <dxi-item
          location="after"
          widget="dxButton"
          [options]="{
            text: 'Save',
            stylingMode: 'contained',
            type: 'default',
            onClick: onAddClick
          }"
        ></dxi-item>
      </dx-toolbar>
    </div>
  </div>
</div>
