<div class="view-wrapper list-page">
  <!-- =================================ToolBar============================ -->

  <div class="toolbarDiv mb-2">
    <dx-toolbar>
      <dxi-item location="before" text="Download Settings"></dxi-item>
    </dx-toolbar>
  </div>
  <!-- =================================Content============================ -->
  <div class="contentBody">
    <div class="mainContent mb-1">
      <!-- ============================Form Data========================== -->
      <div id="form-container" class="m-3">
        <dx-form [formData]="formModel" [labelMode]="'floating'">
          <dxi-item itemType="group" [colCount]="3">
            <!-- Database Name Field with Checkbox -->
            <dxi-item itemType="group" [colCount]="1">
              <dxi-item>
                <dx-check-box
                  [(value)]="isDatabaseNameEditable"
                  text="Enable External Database"
                ></dx-check-box>
              </dxi-item>
              <dxi-item dataField="DatabaseName" editorType="dxTextBox">
                <dxo-label text="Database Name"></dxo-label>
              </dxi-item>
            </dxi-item>

            <!-- XML Directory Field with Checkbox -->
            <dxi-item itemType="group" [colCount]="1">
              <dxi-item>
                <dx-check-box
                  [(value)]="isXMLDirectoryEditable"
                  text="Enable external XML Directory"
                ></dx-check-box>
              </dxi-item>
              <dxi-item dataField="XMLDirectory" editorType="dxTextBox">
                <dxo-label text="XML Directory"></dxo-label>
              </dxi-item>
            </dxi-item>

            <!-- Other Fields -->
            <dxi-item itemType="group" [colCount]="1">
              <dxi-item dataField="ServiceRestartTime" editorType="dxTextBox">
                <dxo-label text="Service Restart Time"></dxo-label>
              </dxi-item>
              <dxi-item
                dataField="ProcessClaimsAutomtically"
                editorType="dxTextBox"
              >
                <dxo-label text="Process Claims Automatically"></dxo-label>
              </dxi-item>
            </dxi-item>

            <dxi-item dataField="ServiceInterval" editorType="dxTextBox">
              <dxo-label text="Service Interval"></dxo-label>
            </dxi-item>
            <dxi-item
              dataField="ClaimTransactionStartDate"
              editorType="dxDateBox"
            >
              <dxo-label text="Claim Transaction Start Date"></dxo-label>
            </dxi-item>
            <dxi-item
              dataField="RemittanceTransactionStartDate"
              editorType="dxDateBox"
            >
              <dxo-label text="Remittance Transaction Start Date"></dxo-label>
            </dxi-item>
            <dxi-item dataField="DownlaodPriorInterval" editorType="dxTextBox">
              <dxo-label text="Download Prior Interval"></dxo-label>
            </dxi-item>
            <dxi-item
              dataField="DownlaodPriorIntervalRestart"
              editorType="dxTextBox"
            >
              <dxo-label text="Download Prior Interval Restart"></dxo-label>
            </dxi-item>
          </dxi-item>
        </dx-form>
      </div>
      <!-- =======================Instance Creation======================= -->
      <div class="facilityContainer">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 d-flex mb-3">
            <div class="col-10 position-relative dropdownContent">
              <div
                *ngFor="let dropdown of dropdowns; let i = index"
                class="col-12 d-flex align-items-center mb-3"
              >
                <div class="col-10">
                  <dx-tag-box
                    labelMode="floating"
                    labelLocation="left"
                    label="Instance #{{ i + 1 }}"
                    [(value)]="dropdown.selectedValues"
                    [dataSource]="dataSource"
                    valueExpr="ID"
                    displayExpr="FacilityName"
                    [showSelectionControls]="true"
                    [showClearButton]="true"
                    [multiline]="true"
                    [searchEnabled]="true"
                    [maxDisplayedTags]="5"
                    (onValueChanged)="onTagBoxValueChanged($event, i)"
                  >
                  </dx-tag-box>
                </div>
                <div class="col-2 ms-2 mt-2">
                  <dx-button
                    text=""
                    (onClick)="removeDropdown(i)"
                    type="danger"
                    icon="close"
                    stylingMode="outlined"
                  >
                  </dx-button>
                </div>
              </div>
            </div>
            <div class="col-2 mt-2">
              <dx-button
                text="Add Instance"
                (onClick)="addDropdown()"
                type="default"
                icon="plus"
                stylingMode="contained"
              >
              </dx-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Section -->
    <div class="footerDiv">
      <dx-toolbar class="pe-4">
        <dxi-item
          location="after"
          widget="dxButton"
          [options]="{
            text: 'Clear',
            stylingMode: 'contained',
            type: 'normal',
            onClick: onClearClick
          }"
        ></dxi-item>
        <dxi-item
          location="after"
          widget="dxButton"
          [options]="{
            text: 'Save',
            stylingMode: 'contained',
            type: 'default',
            onClick: onAddClick
          }"
        ></dxi-item>
      </dx-toolbar>
    </div>
  </div>
</div>
