@use "../../../../variables.scss" as *;
@use "sass:math";

:host {
  --side-panel-toolbar-height: 72px;

  width: 100%;
  display: contents;
}

.view-wrapper {
  position: relative;
  height: 84vh;
  margin: var(--content-padding);
  padding: 0px;
  border-radius: 7px;

  .grid {
    ::ng-deep & {
      .dx-datagrid-header-panel {
        padding: 0 var(--content-padding);
      }

      .dx-toolbar {
        margin-bottom: 0;
        padding: var(--toolbar-margin-bottom) 0;
      }

      .dx-datagrid-content .dx-row {
        cursor: pointer;
      }
    }

    .grid-header {
      @include header();
    }
  }

  user-panel {
    display: inherit;
  }
}
.toolbarDiv {
  background-color: var(--base-bg);
  padding: 5px var(--content-padding);
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.04);
}
.condentBody {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--base-bg);
  border-radius: 8px;
}
.mainContent {
  height: 100%;
  background-color: var(--base-bg);
  padding: 8px;
  border-radius: 8px;
}
.footerDiv {
  padding: 5px var(--content-padding);
  background-color: var(--base-bg);
  border-radius: 8px;
  position: sticky;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.facilityContainer {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  height: 38vh;
}
.dropdownContent {
  height: 35vh;
  overflow-x: auto; 
}

.dropdownContent::-webkit-scrollbar {
  display: none;
}
